# --- CLOUDFLARE CONFIGURATION ---
# Cloudflare Tunnel token (used to securely expose services to the public web)
CF_TUNNEL_TOKEN=eyJhIjoiZTQ3M2...

# --- NEXTCLOUD CONFIGURATION ---
# Nextcloud database user password
NC_DB_PASS=set_a_secure_password
# Nextcloud database root user password
NC_DB_ROOT_PASS=set_a_root_passsword

# --- MATTERMOST CONFIGURATION ---
# Mattermost database user name
MM_DB_USER=set_a_user
# Mattermost database user password
MM_DB_PASS=set_a_secure_password
# Mattermost database name
MM_DB_NAME=mattermost
# Publicly accessible URL for your Mattermost instance
MM_SITE_URL=https://mattermost.exmaple.com

# --- LINKSTACK CONFIGURATION ---
# Timezone for LinkStack (e.g., Europe/Istanbul)
LS_TZ=Europe/Istanbul
# LinkStack server admin email address
LS_SERVER_ADMIN=admin@example.com
# PHP memory limit configuration (e.g., 512M)
LS_PHP_MEMORY_LIMIT=512M
# Domain name for the LinkStack instance
LS_DOMAIN=link.example.com
# Maximum allowed file upload size (e.g., 16M)
LS_MAX_UPLOAD=16M

# --- TAILSCALE CONFIGURATION ---
# Tailscale auth key used to automatically register the node to your tailnet
TS_AUTHKEY=tskey-auth-yourRealKeyHere

# --- PALISCH CONFIGURATION ---
# Discord Bot token for Palisch bot
palisch_discord_bot=your_bot_token_here

# --- ICELATTE CONFIGURATION ---
# Discord Bot token for Icelatte bot
icelatte_discord_bot=your_bot_token_here
# Debug level for the Icelatte application (e.g., 2)
icelatte_DEBUG=2

# --- LITTLELINK CONFIGURATION ---
# Git repository URL containing the source files for LittleLink
littlelink_git_repo=your_git_repo_here

# --- PELICAN CONFIGURATION ---
# Public URL for the Pelican panel
PELICAN_SITE_URL=http://localhost
# Admin email address for the Pelican panel
PELICAN_ADMIN_EMAIL=USEYOUROWNEMAILHERE@example.com
# Pelican database root user password
PELICAN_DB_ROOT_PASS=set_a_secure_password_root
# Pelican database user password
PELICAN_DB_PASS=set_a_secure_password

# --- GRAFANA CONFIGURATION ---
# Root URL used to access the Grafana interface externally
GF_SERVER_ROOT_URL=http://localhost

# Path to the Podman or Docker socket on the host system
PODMAN_SOCK_PATH=/run/user/1001/podman/podman.sock
