CF_TUNNEL_TOKEN=eyJhIjoiZTQ3M2...

NC_DB_PASS=set_a_secure_password
MM_DB_PASS=set_another_secure_password
NC_DB_ROOT_PASS=set_a_root_passsword


MM_DB_USER=set_a_user
MM_DB_PASS=set_a_secure_password
MM_DB_NAME=mattermost
MM_SITE_URL=https://mattermost.exmaple.com


LS_TZ=Europe/Istanbul
LS_SERVER_ADMIN=admin@example.com
LS_PHP_MEMORY_LIMIT=512M
LS_DOMAIN=link.example.com
LS_MAX_UPLOAD=16M

TS_AUTHKEY=tskey-auth-yourRealKeyHere