.env
!.env.example
db_data
nc_data
.vscode
mm_data
mm_logs
mm_config
mm_plugins
mm_client_plugins
mm_bleve_indexes
mattermost-db
nextcloud-db
ls_data
linkstack_data
tailscale_state
pelican-db
.idea
gaming/SCP_Secret_Laboratory/config
gaming/SCP_Secret_Laboratory/plugins
gaming/SCP_Secret_Laboratory/logs
pelican/wings/